# Virtual Environment
.venv/
venv/
ENV/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# Database
*.db
*.sqlite3
*.db-wal
*.db-shm

# IDE / Editor settings
.vscode/
.idea/

# OS artifacts
.DS_Store
Thumbs.db
